
    <!-- <div class="contenedor-categorias">
        <nav ng-repeat="categoria in categoriasFiltradas track by $index" class="listaCategoria">
            <div ng-click="filtrarPorCategoria(categoria)">{{categoria}}</div>
        </nav>
    </div> -->
<!--
    <div class="parent">
        <img src="/img/alpargata completa con plataforma.jpg" class="div1">
        <img src="/img/alpargata completa con plataforma.jpg" class="div2">
        <img src="/img/alpargata completa con plataforma.jpg" class="div3">
        <img src="/img/alpargata completa con plataforma.jpg" class="div4">
        <img src="/img/alpargata completa con plataforma.jpg" class="div5">
    </div>
    -->

    <div class="container-img">
        <div class="card mitad">
            <img src="{{urlImagenes}}/img/composicion/cajita.jpg">
            <div class="textos">
                <p>Texto con información</p>
            </div>
        </div>
        <div class="card mitad">
            <img src="{{urlImagenes}}/img/composicion/cojines.jpg">
            <div class="textos">
                <p>Texto con información</p>
            </div>
        </div>
        <div class="card tercio">
            <img src="{{urlImagenes}}/img/composicion/gorro.jpg">
            <div class="textos">
                <p>Texto con información</p>
            </div>
        </div>
        <div class="card tercio">
            <img src="{{urlImagenes}}/img/composicion/peques.jpg">
            <div class="textos">
                <p>Texto con información</p>
            </div>
        </div>
        <div class="card tercio">
            <img src="{{urlImagenes}}/img/composicion/pulseras.jpg">
            <div class="textos">
                <p>Texto con información</p>
            </div>
        </div>
    </div>




    <!-- <div class="main">
        <div ng-repeat="elemento in datosLeidos track by $index">
            <div class="elemento"> -->
                <!-- <div class="negrita primeraMayuscula">{{elemento.nombre}}</div> -->
                <!-- <div class="textoDescripcion">{{elemento.descripcion}}</div> -->
                <!-- <div>Precio: {{(elemento.precio | number:2) + "€"}}</div> -->
                <!-- <div>Precio: {{elemento.precio}}</div> -->
                <!-- <div class="primeraMayuscula">Categoria: {{elemento.categoria}}</div> -->
                <!-- <a href="{{elemento.url}}" target="_blank" title="Comprar">Comprar</a> -->
                <!-- <img src="{{elemento.imagen}}" alt="{{elemento.nombre}}">
            </div>
        </div>
    </div> -->